<!DOCTYPE html>

<html class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Resource Wall-<%=resource.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <!-- Animate.css -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="/css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <!-- Theme style  -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Modernizr JS -->
  <script src="/scripts/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="scripts/respond.min.js"></script>
  <![endif]-->

  </head>

  <body>
  <div id="fh5co-page">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">

      <h1 id="fh5co-logo"><img src="/images/logo.png"</a></h1>
      <nav id="fh5co-main-menu" role="navigation">
        <ul>
          <li><a href="/resources">Home Page</a></li>
          <li><a href="/users/<%=user_id%>/profile">My Profile</a></li>
					<li>
            <form method="POST" id="logoutbtn" action="/users/logout">
              <!-- <a href="/users/logout"> -->
              <input type="submit" class="logoutbtn" name="logout" value="LOGOUT">
            </form>
          </li>
        </ul>
      </nav>

      <div class="fh5co-footer">
        <small>
          <span>&copy; 2017 Made by .</span>
          <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span>
        </small>
      </div>

    </aside>

    <div id="fh5co-main">

      <div class="fh5co-narrow-content">
        <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><%=resource.title %></h2>
        <div class="animate-box" data-animate-effect="fadeInLeft">
          <b><%= resource.description %><br></b>
          <a href = "<%= resource.url %>" ><%= resource.url %></a><br>
          <br><h4>Average rating: <%= avg %></h4>
          <form method="post" action="/resources/ratings/<%=resource.id%>">
            <select name="rate">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <input type="submit" class="btn btn-primary btn-sm" value="Rate now!">
            </select>
          </form>

          <div class="commentBox">
            <h3>Comments</h3>
            <ul class="commentList">
              <% for(let comment of comments) { %>
                Comment author: <%= comment.username %><li class="list-group-item"><%= comment.comment %></li>
              <%} %>
            </ul>
          </div>

          <form method="post" action="/resources/<%=resource.id%>">
            <textarea id= "comments" type="text" class="form-control" name="comment"></textarea>
            <input type="submit" class="btn btn-primary" value="Submit">
          </form>
        </div>
      </div>
    </div>

  <!-- jQuery -->
  <script src="/scripts/jquery.min.js"></script>
  <!-- jQuery Easing -->
  <script src="/scripts/jquery.easing.1.3.js"></script>
  <!-- Bootstrap -->
  <script src="/scripts/bootstrap.min.js"></script>
  <!-- Carousel -->
  <script src="/scripts/owl.carousel.min.js"></script>
  <!-- Stellar -->
  <script src="/scripts/jquery.stellar.min.js"></script>
  <!-- Waypoints -->
  <script src="/scripts/jquery.waypoints.min.js"></script>
  <!-- Counters -->
  <script src="/scripts/jquery.countTo.js"></script>



  <!-- MAIN JS -->
  <script src="/scripts/main.js"></script>

  </body>
</html>
