<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resource Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <h1>Resource</h1>
    
    
      <div>
      <%= resource.title %><br>
      <%= resource.url %><br>
      <%= resource.description %><br>
      comments:<br>
      <% for (let comment of comments){ %>
        <%= comment.comment %><br>
      <%} %>
      average rating:<br>
      <%= avg %><br>
      </div>
      <form method="post" action='/resources/<%=resource.id%>'>
        Comment: <input type="text" name="comment"><br>
        <input type="submit" value="Submit">
      </form>
      <form method="post" action='/resources/ratings/<%=resource.id%>'>
        Rate: <input type="text" name="rate"><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
